<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/component/header :: application-head"></head>
<body>
<div class="wrapper">
    <div th:replace="fragment/component/header :: application-top-header"></div>
    <div th:replace="fragment/component/sidebar :: application-side-bar"></div>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Coupon Information</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Coupon</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Information</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Coupon Info</h4>
                                    <!--<button id="updateCoupon"
                                            class="btn btn-primary btn-sm ml-auto">
                                        <i class="fas fa-save"></i>
                                        Update Coupon
                                    </button>-->
                                </div>
                            </div>
                            <form method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="couponText">Coupon Title<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="couponText"
                                                       placeholder="Enter Coupon Title"
                                                       th:name="couponText" type="text">
                                                <small class="form-text text-danger text-capitalize text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="startDate">Start Date<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="startDate"
                                                       placeholder="Enter Start Date"
                                                       th:name="startDate" type="date">
                                                <small class="form-text text-danger text-capitalize text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="endDate">End Date<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="endDate"
                                                       placeholder="Enter End Date"
                                                       th:name="endDate" type="date">
                                                <small class="form-text text-danger text-capitalize text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="maxUse">Max Use<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="maxUse"
                                                       placeholder="Enter Maximum Use"
                                                       th:name="maxUse" type="number">
                                                <small class="form-text text-danger text-capitalize text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <input class="btn btn-primary" id="save-button" type="submit"/>
                                    <button class="btn btn-danger" id="cancel-button" type="reset">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <footer th:replace="fragment/component/footer :: application-footer"></footer>

    </div>
</div>
<div th:replace="fragment/component/script :: application-default-page-script"></div>
<script th:src="@{/page/couponDetails.js}"></script>

<script>
</script>
</body>
</html>
