<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/component/header :: application-head"></head>
<body>
<div class="wrapper">
    <div th:replace="fragment/component/header :: application-top-header"></div>
    <div th:replace="fragment/component/sidebar :: application-side-bar"></div>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Product Information</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Product</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Information</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="post" th:action="@{/add-product}" th:object="${product}">
                                <div class="card-header">
                                    <div class="card-title">Store Info</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="fullName">Food Title<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="fullName"
                                                       placeholder="Enter Food Title"
                                                       th:name="name"
                                                       th:field="*{name}" type="text">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="description">Description<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="description"
                                                       placeholder="Product Description"
                                                       th:name="description"
                                                       th:field="*{description}">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">

                                            <div class="form-group">
                                                <label for="price">Price<a
                                                        class="text-danger">*</a></label>
                                                <div class="input-group">

                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">BDT</span>
                                                    </div>
                                                    <input class="form-control" id="price"
                                                           placeholder="Enter product Price"
                                                           th:name="price"
                                                           type="number" min="0"
                                                           th:field="*{price}">
                                                    <small class="form-text text-muted"></small>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="store">Store<a
                                                        class="text-danger">*</a></label>
                                                <select class="select2-class" id="store" th:field="*{storeId}">
                                                    <option th:each="storeItem : ${storeList}"
                                                            th:value="${storeItem.getId()}"
                                                            th:text="${storeItem.getName()}">
                                                    </option>
                                                    <small class="form-text text-danger text-capitalize text-muted"></small>
                                                </select>
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <input class="btn btn-primary" type="submit"/>
                                    <button class="btn btn-danger" id="cancel-button" type="reset">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <footer th:replace="fragment/component/footer :: application-footer"></footer>

    </div>
</div>
<div th:replace="fragment/component/script :: application-default-page-script"></div>

<script>
    $(".select2-class").select2({
        closeOnSelect: true,
        placeholder: "Select Store",
        width: '100%',
        dropdownAutoWidth: true
    });


    $("#cancel-button").click(function () {
        $(location).attr('href', './product-information')

    })

</script>
</body>
</html>
