<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="attendance-snippet (checkIn ,checkOut , absent , total )" class="row"
     th:if="!${isParent} and !${isStudent}">
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-info bubble-shadow-small">
                            <i class="flaticon-interface-6"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-productCategory">Check In</p>
                            <h4 class="card-title" th:text="${checkIn}">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-success bubble-shadow-small">
                            <i class="flaticon-graph"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-productCategory">Check Out</p>
                            <h4 class="card-title" th:text="${checkOut}">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body ">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-primary bubble-shadow-small">
                            <i class="flaticon-users"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-productCategory">Absent</p>
                            <h4 class="card-title" th:text="${absent}">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-secondary bubble-shadow-small">
                            <i class="flaticon-success"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-productCategory">Total Student</p>
                            <h4 class="card-title" th:text="${totalStudent}">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" th:fragment="parents-student-list" th:if="${isParent}">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title fw-mediumbold">Associated Student</div>
                <div class="card-list">
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/jm_denis.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">Jimmy Denis</div>
                            <div class="status">Graphic Designer</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/chadengle.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">Chad</div>
                            <div class="status">CEO Zeleaf</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/talha.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">Talha</div>
                            <div class="status">Front End Designer</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/mlane.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">John Doe</div>
                            <div class="status">Back End Developer</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/talha.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">Talha</div>
                            <div class="status">Front End Designer</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="item-list">
                        <div class="avatar">
                            <img src="img/jm_denis.jpg" alt="..."
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="info-user ml-3">
                            <div class="username">Jimmy Denis</div>
                            <div class="status">Graphic Designer</div>
                        </div>
                        <button class="btn btn-icon btn-primary btn-round btn-xs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:fragment="inventory-snippet" th:if="!${isParent} and !${isStudent}" class="row row-card-no-pd mt--2"
     sec:authorize="hasAuthority(T(com.circleit.education.utils.RoleConstant).INVENTORY_READ)">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5><b>Todays Income</b></h5>
                        <p class="text-muted">All Customs Value</p>
                    </div>
                    <h3 class="text-info fw-bold">$170</h3>
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-info" style="width: 10%!important;"
                         role="progressbar"></div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p class="text-muted mb-0">Change</p>
                    <p class="text-muted mb-0">75%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5><b>Total Revenue</b></h5>
                        <p class="text-muted">All Customs Value</p>
                    </div>
                    <h3 class="text-success fw-bold">$120</h3>
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p class="text-muted mb-0">Change</p>
                    <p class="text-muted mb-0">25%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5><b>New Orders</b></h5>
                        <p class="text-muted">Fresh Order Amount</p>
                    </div>
                    <h3 class="text-danger fw-bold">15</h3>
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-danger w-50" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p class="text-muted mb-0">Change</p>
                    <p class="text-muted mb-0">50%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5><b>New Users</b></h5>
                        <p class="text-muted">Joined New User</p>
                    </div>
                    <h3 class="text-secondary fw-bold">12</h3>
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar bg-secondary w-25" role="progressbar" aria-valuenow="25"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p class="text-muted mb-0">Change</p>
                    <p class="text-muted mb-0">25%</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" th:fragment="notice-event">
    <div class="col-md-6">
        <div class="card full-height">
            <div class="card-header">
                <div class="card-head-row">

                    <div class="card-title">Notice Board</div>
                    <div class="card-tools">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" role="tablist">
                            <li class="nav-item">

                                <a style="text-decoration: none !important;color: inherit"
                                   class="btn btn-sm btn-primary text-white btn-border btn-round mr-2"
                                   th:href="@{/all-notice}">Previous Notice</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ol class="activity-feed">
                    <li th:each="noticeItem : ${allNotice}" class="feed-item" th:classappend="${noticeItem.classFeed}">
                        <time class="date" datetime="9-25" th:text="${noticeItem.dateText}"></time>
                        <span class="text" th:text="${noticeItem.description}"></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card full-height">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">Event Memories</div>
                    <div class="card-tools">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab"
                            role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-today" data-toggle="pill"
                                   href="#pills-today" role="tab" aria-selected="true">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-week" data-toggle="pill"
                                   href="#pills-week" role="tab" aria-selected="false">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-month" data-toggle="pill"
                                   href="#pills-month" role="tab" aria-selected="false">Month</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="avatar avatar-online">
                        <span class="avatar-title rounded-circle border border-white bg-info">J</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span
                                class="text-warning pl-3">pending</span></h6>
                        <span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
                    </div>
                    <div class="float-right pt-1">
                        <small class="text-muted">8:40 PM</small>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="d-flex">
                    <div class="avatar avatar-offline">
                        <span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span
                                class="text-success pl-3">open</span></h6>
                        <span class="text-muted">I have some query regarding the license issue.</span>
                    </div>
                    <div class="float-right pt-1">
                        <small class="text-muted">1 Day Ago</small>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="d-flex">
                    <div class="avatar avatar-away">
                        <span class="avatar-title rounded-circle border border-white bg-danger">L</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span
                                class="text-muted pl-3">closed</span></h6>
                        <span class="text-muted">Is there any update plan for RTL version near future?</span>
                    </div>
                    <div class="float-right pt-1">
                        <small class="text-muted">2 Days Ago</small>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="d-flex">
                    <div class="avatar avatar-offline">
                        <span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">Peter Parker <span
                                class="text-success pl-3">open</span></h6>
                        <span class="text-muted">I have some query regarding the license issue.</span>
                    </div>
                    <div class="float-right pt-1">
                        <small class="text-muted">2 Day Ago</small>
                    </div>
                </div>
                <div class="separator-dashed"></div>
                <div class="d-flex">
                    <div class="avatar avatar-away">
                        <span class="avatar-title rounded-circle border border-white bg-danger">L</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">Logan Paul <span
                                class="text-muted pl-3">closed</span></h6>
                        <span class="text-muted">Is there any update plan for RTL version near future?</span>
                    </div>
                    <div class="float-right pt-1">
                        <small class="text-muted">2 Days Ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
