<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/component/header :: application-head"></head>

<body>


<div class="wrapper">
    <div>
        <div class="content">
            <div class="bg-primary-gradient">
                <div class="page-inner py-5 mt--2">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div class="ml-md-auto py-2 py-md-0">
                            <a class="btn btn-danger mr-2 text-white btn-lg ml-auto btn-rounded dashboard-btn"
                               sec:authorize="isAuthenticated()">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-inner mt--5">
                <div class="row">
                    <div class="col-md-6 col-lg-3 justify-content-center"
                         th:each="productItem: ${allProduct}">
                        <div class="card">
                            <img class="card-img-top" style="height: 240px;" th:src="${productItem.primaryImageUrl}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title mb-2 fw-mediumbold" th:text="${productItem.name}"></h5>
                                <p class="card-text" th:text="${productItem.storeName}"></p>
                                <a href="#" class="btn btn-warning">Add Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <footer th:replace="fragment/component/footer :: application-footer"></footer>

    </div>
</div>



<!--<div class="container center pt-5">
    <div class="row justify-content-md-start">
        <div class="col">
            <img style="width: 270px"
                 src="https://foodmood.app/file-demo-0.0.1-SNAPSHOT/downloadFile/device-2019-09-14-212721.png">
        </div>

        <div class="col">
            <img style="width: 270px"
                 src="https://foodmood.app/file-demo-0.0.1-SNAPSHOT/downloadFile/device-2019-09-14-213142.png">
        </div>
        <div class="col">
            <img style="width: 270px"
                 src="https://foodmood.app/file-demo-0.0.1-SNAPSHOT/downloadFile/device-2019-09-14-212951.png">
        </div>
    </div>

    <div class="row justify-content-md-center mt-4">

        <div class="container">

            <div class="row align-items-center playstore-image" style="cursor: pointer">
                <div class="col">

                </div>
                <div class="col">
                    <span class="display-3 font-weight-bold text-right text-white">FoodMood</span>

                </div>
                <div class="col">
                    <img width="100px"
                         src="https://foodmood.app/file-demo-0.0.1-SNAPSHOT/downloadFile/white_fm_logo_banner.png">
                </div>

                <div class="col text-center" >
                    <span class="text-white-50 text-capitalize">Coming Soon in Mymensingh</span>
                    <img   width="200px" src="https://foodmood.app/file-demo-0.0.1-SNAPSHOT/downloadFile/google-play-badge.png">
                </div>
                <div class="col">

                </div>
            </div>

        </div>

    </div>

</div>-->
<script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>

<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/atlantis.min.js}"></script>

<script>



    $(".playstore-image").click(function () {

        window.open('https://play.google.com/store/apps/details?id=app.circle.foodmood')
    })

    /*$(".submitButton").click(function () {

        let restaurantName = $("#restaurantName").val()
        let ownerName = $("#ownerNumber").val()
        let contactNumber = $("#contactNumber").val()

        if (restaurantName && ownerName && contactNumber) {
            let settings = {
                "async": true,
                "crossDomain": false,
                "url": "../save/restaurant-info",
                "method": "POST",
                "headers": {
                    "content-type": "application/json"
                },
                "data": JSON.stringify({
                    restaurantName, ownerName, contactNumber
                })
            };

            $.ajax(settings).done(function (response) {

                if (response.isResultAvailable && response.isSuccessful && response.result) {
                    swal({
                        title: "FoodMood Message",
                        text: "আপনার তথ্য সঠিক ভাবে রাখা হয়েছে . ফুডমুড অতিসত্বর আপনার সাথে যোগাযোগ করবে । যেকোনো প্রয়োজনে কল করুন ফুডমুড হেল্পলাইন (০১৭৭৫৬৭৬৭৭৬) এই নাম্বারে ",
                        icon: "success",
                    }).then(function () {
                        $("#restaurantName").val('')
                        $("#ownerNumber").val('')
                        $("#contactNumber").val('')
                    });
                }

            });

        } else {
            swal({
                title: "One or more fields are empty",
                text: "Please fill all input fields",
                icon: "error",
            });
        }
    })*/


    $(".dashboard-btn").click(function () {
        window.location.href = "./home";

    })

</script>
</body>
</html>
