<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<body>
<div sec:authorize="isAuthenticated()" th:fragment="application-default-page-script">
    <script th:src="@{/js/core/jquery.3.2.1.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
    <script th:src="@{/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
    <script th:src="@{/js/plugin/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/plugin/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/js/atlantis.min.js}"></script>
    <script th:src="@{/js/select2.full.min.js}"></script>


</div>
</body>
</html>
