<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/component/header :: application-head"></head>
<body>
<div class="wrapper">
    <div th:replace="fragment/component/header :: application-top-header"></div>
    <div th:replace="fragment/component/sidebar :: application-side-bar"></div>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Store Information</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Store</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Information</a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="post" th:action="@{/store-information}" th:object="${store}">
                                <div class="card-header">
                                    <div class="card-title">Store Info</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="fullName">Full Name <a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="fullName"
                                                       placeholder="Enter Full Name"
                                                       th:name="fullName"
                                                       th:field="*{name}" type="text">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="contactNumber">Phone Number<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="contactNumber"
                                                       placeholder="Enter Phone Number"
                                                       th:name="contactNumber"
                                                       th:field="*{contactNumber}">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <label for="address">Address<a
                                                        class="text-danger">*</a></label>
                                                <input class="form-control" id="address"
                                                       placeholder="Enter Address"
                                                       th:name="address"
                                                       th:field="*{address}">
                                                <small class="form-text text-muted"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <input class="btn btn-primary" type="submit"/>
                                    <button class="btn btn-danger">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Footer-->
        <footer th:replace="fragment/component/footer :: application-footer"></footer>

    </div>
</div>
<div th:replace="fragment/component/script :: application-default-page-script"></div>

<script>
    $(".select2-class").select2({
        closeOnSelect: true,
        placeholder: "Grade",
        width: '100%',
        dropdownAutoWidth: true
    });
</script>
</body>
</html>
