<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/component/header :: application-head"></head>
<body>
<div class="wrapper">
    <div th:replace="fragment/component/header :: application-top-header"></div>
    <div th:replace="fragment/component/sidebar :: application-side-bar"></div>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Store Information</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Store</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Information</a>
                        </li>
                    </ul>
                </div>



                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Store List</h4>
                                    <button id="add-store" th:href="@{/add-store}" class="btn btn-primary btn-sm ml-auto" >
                                        <i class="fa fa-plus"></i>
                                        Add Store
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table id="store-table"
                                               class="display table table-striped table-hover dataTable"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Location</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr class="row-store" th:id="${storeItem.id}" style="cursor: pointer"
                                                th:each="storeItem : ${storeList}">
                                                <td th:text="${storeItem.id}">
                                                </td>
                                                <td th:text="${storeItem.name}">

                                                </td>
                                                <td th:text="${storeItem.address}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--Footer-->
        <footer th:replace="fragment/component/footer :: application-footer"></footer>

    </div>
</div>
<div th:replace="fragment/component/script :: application-default-page-script"></div>

<script>
    $(".select2-class").select2({
        closeOnSelect: true,
        placeholder: "Grade",
        width: '100%',
        dropdownAutoWidth: true
    });


    $("#store-table").DataTable({
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false
    });

    $(".row-store").click(function (e) {
        var storeId = $(this).attr("id");
        $(location).attr('href', './add-store?id=' + storeId)
    })

    $("#add-store").click(function (e) {
        $(location).attr('href', './add-store')
    })
</script>
</body>
</html>
